*{
    font-family: Arial, sans-serif;
    background-color: #000000;
    
}

/* .card1{
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
} */

.card2 , .card1 , .card3 , .card4{
    color: green;
    background-color: #18171a;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.card-container{
    color: green;
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}
.card-container h1 , span{
    color: #00ff00;
}
.card-container p{
    color: #ffffff;
}